/*@media screen and (max-width: 768px) {
    header {
        margin-left: 20px;
        margin-right: 20px;
    }

    ul {
        margin-left: 0;
        margin-top: 0;
        text-align: center;
    }

    .buttonsWhite {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 2560px) { 
    header { 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 1440px; 
}


ul {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    text-align: center;
}

.buttonsWhite {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}

}*/

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
/* inicio de estilos para barra de navegacion de la pagina */
header {
  background-color: white;
  padding-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  height: 65px;
}
.nav {
  background-color: white;
  overflow: hidden;
  top: 0;
  /*width: 100%;*/
  z-index: 1000;
  float: right;

  padding: 10px;

  margin-right: 0;
}

.logo {
  width: 250px; /* Adjust the width as per your requirement */
  height: auto; /* Maintain aspect ratio */
}

ul {
  list-style-type: none;
  margin-left: 516px;
  margin-top: -50px;
  padding: 5px;
  overflow: hidden;
}

li {
  display: inline;
  text-align: center;
}

ul li a {
  text-decoration: none;
  color: black;
  margin: 5px;
  font-size: 16px;
  /*border: 1px solid black;*/
}

.buttonsWhite {
  margin-left: 120px;
  margin-right: 30px;
}

.buttonsBlack {
  background-color: black;
  padding: 10px 20px;
}

.buttonsBlack a {
  color: white;
}
/* fin de estilos para barra de navegacion de la pagina */

main {
  max-width: 100%;
}

/* foreground for the hero section image set to color grey and settings for the hero image itself*/
.imgFront {
  position: absolute;
  top: 85px;
  left: 0;
  max-width: 100%;
  width: 80.7rem;
  height: 500px;
  z-index: 0;
  background-color: grey;
  opacity: 0.8;
}

.hero-img {
  position: relative;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 500px; /* Add this line to set the height */
}
/* fin de ajuste de hero image and foreground  */

/*.hero-section {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}**/

/* texto de la imagen principal de la pagina, hero section image */
h1.img-text {
  font-size: 2.5rem;
  color: black;
  text-align: center;

  width: 35rem;
}

h3.img-text {
  font-size: 0.9em;
  color: white;
  text-align: center;
  width: 35rem;
  margin-top: 1rem;
  /*margin-bottom: 0px;*/
}

.hero-text {
  margin-right: 44.5rem;
  position: relative;
  bottom: 18.75rem;
  left: 41rem;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.button-hero1 {
  position: relative;
  left: 10rem;
  top: 1.563rem;
  background-color: black;
  color: white;
  width: 55px;
  padding: 10px 20px;
}

a.button-hero2 {
  color: white;
  text-decoration: none;
}

.button-hero2 {
  position: relative;
  left: 12rem;
  top: 1.563rem;
  width: 80px;

  padding: 5.5px 5px;
}
/* fin del texto de hero image */

.content-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
